body {
    background-image: url(illusion\ smaller.png)
}

#dialedDisplay {
    position: fixed;
    right: 50%;
    translate: 50%;
    padding: 10px;
    background-color: #ff00ff; 
    color: #00ffff;            
    font-weight: bold;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 20px;
    border: 5px dashed yellow;
    z-index: 9999;
}

#callBtn {
    position: fixed;
    top: 10px;
    right: 200px;
    padding: 10px 20px;
    background-color: red;
    color: lime;
    font-family: Impact, sans-serif;
    font-size: 18px;
    border: 4px groove blue;
    cursor: pointer;
    z-index: 9999;
}

.num{
    background-color: transparent;
    position: fixed;
}

#zero {
    top: 40px;
    left: 50px;
}

#one {
    top: 120px;
    left: 220px;
}

#two {
    top: 200px;
    left: 380px;
}

#three {
    top: 310px;
    left: 500px;
}

#four {
    top: 420px;
    left: 660px;
}

#five {
    top: 150px;
    left: 720px;
}

#six {
    top: 320px;
    left: 880px;
}

#seven {
    top: 500px;
    left: 980px;
}

#eight {
    top: 600px;
    left: 820px;
}

#nine {
    top: 520px;
    left: 200px;
}